.CFUserTextEncoding
.DS_Store
.aliases
.atom/
.aws/
.bash/
.bash_history
.bash_profile
.bash_prompt
.bash_sessions/
.cask/
.config/
.cups/
.gitconfig
.hushlogin
.lesshst
.oh-my-zsh/
.oracle_jre_usage/
.ssh/
.terraform.d/
.terraform/
.viminfo
.vscode/
.zsh_history
.zsh_sessions/
3-tier-aws-architecture/
Downloads/
Library/
"Module2 2/"
Movies/
Music/
PGADMIN_DATA/
PGDB_DATA/
Pictures/
Public/
SP_cpp_terraform/
Terraform-3tier-architecture-AWS/
UKC-Live/
UKC-NL/
"VirtualBox VMs/"
ansible_vagrant/
argparse/
atom-one-dark-terminal/
audit_users.tar
audit_users.tar.gpg
aws_login/
babu_gpg.key
baris.kara/
chandima/
cloudreach-3tier/
cloudreach/
concourse-ci/
cpp/
cpp_olp_openvpn_vapp_ts-1710_net.xml
cpp_olp_opnvpn_vapp_ts-1710_env.xml
cpp_ui_online_plea/
defending.nft.cjscp.org.uk/
defending.prp.cjscp.org.uk/
defending.sit.cjscp.org.uk/
deploy_key
dhathri.movva.tar
dhathri.movva.tar.gpg
dmz_users
dmz_users.tar
dmz_users.tar.gpg
docker-compose.yml
douglas.sykes.tar
eks-workshop-sample-api-service-go/
gitlab/
go-workspace/
greg.driver.tar
greg.driver.tar.gpg
gurpreet.nirwan.tar
"iCloud Drive (Archive)/"
idam-inventory/
idam-repo/
idam-saml-stuff/
idam/
james.torkington.tar
jamie.cassell.tar
jason_gpg
jean-francois-gpg.key
jean.hezghia.tar
jenkins/
john.uphill.tar
jonathan.littlewood-ukc-new-vpn.tar
joshua.hawthornthwaite.tar
joshua.hawthorthwaite.tar
listusers
module2-lab1/
module2-lab3/
my.keycd
my_gpg.pub.key
my_gpg_pub.key
napa-ssh-new
napa-ssh-new1
napa_sshpub
napa_sshpub_1
opsvcs.azure-infrastructure/
phillip_gpg
prd-saml/
proxy.pac
prpccm01-stuff/
rakesh.chiluka.tar
repos/
"sajan.chandran 2/"
"sajan.chandran 3/"
sajan.chandran.tar
sajan.chandran.tar.gpg
sajan.chandran/
settings_check.xml
skyscape-live-prd.yaml
soe-repo/
sp_users_account/
spring-app1/
spring-soap/
sql-test/
ssh_config/
terraform-azurerm-db-postgresql/
terraform-ptfe-ha-azure/
terraform_gitlab_state/
terraform_training/
tfe_cluster/
user-migration
vagrant/
vagrant_win216K/
vpn_users
vpn_users.gpg
vpn_users.tar
vpn_users.tar.gpg
windows-server2k16/
workforce-tutorial.tar.gz
wsus-nsg.tf
